<h1>Welcome to The ClearView Relationship Management Portal</h1>
<h3>Built for Opticians to manage their Patient & Optometrist contacts</h3>

<% if flash[:message] %><br>
<div class="message" style="color: red; font-size: 20px;"><%= flash[:message] %></div><br>
<% end %>

<%= link_to "Sign up", signup_path %> <br><br>
<%= link_to "Log in", login_path %> <br><br>
Or<br><br>
<%= button_to "Log in with Google", '/auth/google_oauth2'  %>

