<h1> All <%=@optician.first_name%>'s Optometrists </h1>

<h4> Optometrist Names: </h4>
<ul><% @optometrists.each do |optometrist| %>
    <li> <%= link_to optometrist.full_name, optometrist_path(optometrist) %> </li>

<%end%>
<br><br></ul>
<%= link_to("Create Optometrist", new_optometrist_path)%>
