<h1> All Optometrists </h1>

<h4> Optometrist Names: </h4>
<ul><% @optometrists.each do |optometrist| %>
    <li> <%= link_to optometrist.full_name, optometrist_path(optometrist) %> </li>

<%end%>

</ul>